<!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="/index_proj#top"  onclick = $("#menu-close").click(); >Wish Trip</a>
            </li>
            <li>
                <a href="/index_proj#top" onclick = $("#menu-close").click(); >Home</a>
            </li>
            <li>
                <a href="/index_proj#about" onclick = $("#menu-close").click(); >About</a>
            </li>
            <li>
                <a href="/index_proj#services" onclick = $("#menu-close").click(); >Services</a>
            </li>
            <li>
                <a href="/index_proj#portfolio" onclick = $("#menu-close").click(); >Featured Trips</a>
            </li>
            <li>
                <a href="/index_proj#contact" onclick = $("#menu-close").click(); >Contact</a>
            </li>
            <li>
                <a href="/signupB" onclick = $("#menu-close").click(); >Sign In</a>
            </li>
            <li>
                <a href="/support_help" onclick = $("#menu-close").click(); >Support/Help</a>
            </li>

        </ul>
    </nav>