<!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="/user_homepage#top"  onclick = $("#menu-close").click(); >Wish Trip</a>
            </li>
            <li>
                <a href="/user_homepage#top" onclick = $("#menu-close").click(); >Home</a>
            </li>
            <li>
                <a href="/user_homepage#portfolio" onclick = $("#menu-close").click(); >Featured Trips</a>
            </li>
            <li>
                <a href="/user_homepage#contact" onclick = $("#menu-close").click(); >Contact</a>
            </li>
            <li>
                <a href="/pro_land" onclick = $("#menu-close").click(); >My Profile</a>
            </li>
            <li>
                <a href="/user_public_profile" onclick = $("#menu-close").click(); >View My Public Profile</a>
            </li>
            <li>
                <a href="/edit_tripdiary" onclick = $("#menu-close").click(); >Edit Trip Diary</a>
            </li>
            <li>
                <a href="/saved_profiles" onclick = $("#menu-close").click(); >View Saved Profiles</a>
            </li>
            <li>
                <a href="/saved_trips" onclick = $("#menu-close").click(); >View Saved Trips</a>
            </li>
            <li>
                <a href="/signout" onclick = $("#menu-close").click(); >Sign Out</a>
            </li>
            <li>
                <a href="/support_help_user" onclick = $("#menu-close").click(); >Support/Help</a>
            </li>

        </ul>
    </nav>