<!DOCTYPE HTML>
<!--
	Overflow by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>My Profile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="../css/bootstrap.min.css" rel="stylesheet">
		<!--<link href="assets/aerialmeat/css/main.css">-->
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="loading">
		<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">WishTrip</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.html#about">About</a>
                    </li>
                    <li>
                        <a href="index.html#services">Services</a>
                    </li>
                    <li>
                        <a href="index.html#portfolio">Featured Trips</a>
                    </li>
                    <li>
                        <a href="signup.html">Sign Up/Log In</a>
                    </li>
                    <li>
                        <a href="index.html#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<!-- //////////////////////////////////////////////////////////////////////- -->
<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Adam Jensen</h1>
						<p>Security Chief &nbsp;&bull;&nbsp; Family Man &nbsp;&bull;&nbsp;</p>
						<nav>
							<ul>
								<li><a href="saved_trips.html" class="icon fa-twitter"><span class="label">Saved Trips</span></a></li>
								<li><a href="saved_profiles.html" class="icon fa-facebook"><span class="label">Saved Profiles</span></a></li>
								<li><a href="edit_tripdiary.html" class="icon fa-dribbble"><span class="label">Edit Trip Diary</span></a></li>
								<!--<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
								<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>-->
							</ul>
						</nav>
					</header>
			</div>
</div>

<!-- //////////////////////////////////////////////////////////////////////- -->
		<!-- Header 
			<section id="header">
					<h1>Overflow</h1>
					<p>By HTML5 UP</p>
			</section>-->
		<!-- Banner -->
		<section id="moveit">
			<section id="banner">
				<header>
					<h2>This Is My Journey</h2>
				</header>
				<!--<p>A brand new site template designed by <a href="http://n33.co">AJ</a> for <a href="http://html5up.net">HTML5 UP</a>.<br />
				It’s fully responsive, built on <strong>skel</strong>, and of course entirely free<br />
				under the <a href="http://html5up.net/license">Creative Commons license</a>.</p>-->
				<footer>
					<a href="#first" class="button style2 scrolly">Act on this message</a>
				</footer>
			</section>

		<!-- Feature 1 -->
			<article id="first" class="container box style1 right">
				<a href="#" class="image fit"><img src="../img/port_land/pic01.jpg" alt="" /></a>
				<div class="inner">
					<header>
						<h2>Lorem ipsum<br />
						dolor sit amet</h2>
					</header>
					<p>Tortor faucibus ullamcorper nec tempus purus sed penatibus. Lacinia pellentesque eleifend vitae est elit tristique velit tempus etiam.</p>
				</div>
			</article>

		<!-- Feature 2 -->
			<article class="container box style1 left">
				<a href="#" class="image fit"><img src="../img/port_land/pic02.jpg" alt="" /></a>
				<div class="inner">
					<header>
						<h2>Mollis posuere<br />
						lectus lacus</h2>
					</header>
					<p>Rhoncus mattis egestas sed fusce sodales rutrum et etiam ullamcorper. Etiam egestas scelerisque ac duis magna lorem ipsum dolor.</p>
				</div>
			</article>

		<!-- Portfolio -->
			<article class="container box style2">
				<header>
					<h2>Magnis parturient</h2>
					<p>Justo phasellus et aenean dignissim<br />
					placerat cubilia purus lectus.</p>
				</header>
				<div class="inner gallery">
					<div class="row 0%">
						<div class="3u 12u(mobile)"><a href="../img/port_land/fulls/01.jpg" class="image fit"><img src="../img/port_land/thumbs/01.jpg" alt="" title="Ad infinitum" /></a></div>
						<div class="3u 12u(mobile)"><a href="../img/port_land/fulls/02.jpg" class="image fit"><img src="../img/port_land/thumbs/02.jpg" alt="" title="Dressed in Clarity" /></a></div>
						<div class="3u 12u(mobile)"><a href="../img/port_land/fulls/03.jpg" class="image fit"><img src="../img/port_land/thumbs/03.jpg" alt="" title="Raven" /></a></div>
						<div class="3u 12u(mobile)"><a href="../img/port_land/fulls/04.jpg" class="image fit"><img src="../img/port_land/thumbs/04.jpg" alt="" title="I'll have a cup of Disneyland, please" /></a></div>
					</div>
					<div class="row 0%">
						<div class="3u 12u(mobile)"><a href="../img/port_land/fulls/05.jpg" class="image fit"><img src="../img/port_land/thumbs/05.jpg" alt="" title="Cherish" /></a></div>
						<div class="3u 12u(mobile)"><a href="../img/port_land/fulls/06.jpg" class="image fit"><img src="../img/port_land/thumbs/06.jpg" alt="" title="Different." /></a></div>
						<div class="3u 12u(mobile)"><a href="../img/port_land/fulls/07.jpg" class="image fit"><img src="../img/port_land/thumbs/07.jpg" alt="" title="History was made here" /></a></div>
						<div class="3u 12u(mobile)"><a href="../img/port_land/fulls/08.jpg" class="image fit"><img src="../img/port_land/thumbs/08.jpg" alt="" title="People come and go and walk away" /></a></div>
					</div>
				</div>
			</article>

		<!-- Contact -->
			<article class="container box style3">
				<header>
					<h2>Nisl sed ultricies</h2>
					<p>Diam dignissim lectus eu ornare volutpat orci.</p>
				</header>
				<form method="post" action="#">
					<div class="row 50%">
						<div class="6u 12u$(mobile)"><input type="text" class="text" name="name" placeholder="Name" /></div>
						<div class="6u$ 12u$(mobile)"><input type="text" class="text" name="email" placeholder="Email" /></div>
						<div class="12u$">
							<textarea name="message" placeholder="Message"></textarea>
						</div>
						<div class="12u$">
							<ul class="actions">
								<li><input type="submit" value="Send Message" /></li>
							</ul>
						</div>
					</div>
				</form>
			</article>

		<section id="footer">
			<ul class="icons">
				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
				<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
				<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
				<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
			</ul>
			<div class="copyright">
				<ul class="menu">
					<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</div>
		</section>
	</section>

		<script>
			window.onload = function() { document.body.className = ''; }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
		<!-- jQuery -->
    	<script src="../js/jquery.js"></script>

    	<!-- Bootstrap Core JavaScript -->
    	<script src="../js/bootstrap.min.js"></script>

    	<script src="../js/signup.js"></script>
		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrolly.min.js"></script>
			<script src="../assets/js/jquery.poptrox.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../assets/js/main.js"></script>

	</body>
</html>